*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#reloj{
    border: 1px solid rgb(197, 0, 0);
    color: rgb(197, 0, 0) ;
    height: 200px;
    width: 400px;
    margin: auto;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
